
<main>
    <section class="get-in-touch">
        <h2>Get In Touch</h2>
    </section>
    <section class="contact">
        <div class="contact-box">
            <div class="contact-box-img">
                <img src="../../../../assets/images/basil-leaf.png" alt="">
            </div>
            <div class="contact-details">
                <div class="contact-details-box">
                    <i class="fa-solid fa-phone"></i>
                    <p>7872070356</p>
                    <p>7074248193</p>

                </div>
                <div class="contact-details-box">
                    <i class="fa-solid fa-envelope"></i>
                    <p>ritwick.biswas527@gmail.com</p>
                    <p>biswas.ritwick527@gmail.com</p>
                </div>
                <div class="contact-details-box">
                    <i class="fa-solid fa-location-dot"></i>
                    <p>Kharagpur</p>

                </div>
            </div>
        </div>
    </section>
    <section class="contact-qustion">
        <div class="contact-qustion-box">
            <h2>Frequently Asked Question!</h2>
            <img src="../../../../assets/images/logo-leaf-new.png" alt="">
            <div class="coustomer-qustion">
                <div class="coustomer-qustion-box">
                    <div class="Question">
                        <a href="#">Pulvinar nostrud class cum facilis?</a> <i class="fas fa-caret-right"></i>

                    </div>

                    <div class="Question">
                        <a href="#">Pulvinar nostrud class cum facilis?</a> <i class="fas fa-caret-right"></i>

                    </div>

                    <div class="Question">
                        <a href="#">Pulvinar nostrud class cum facilis?</a> <i class="fas fa-caret-right"></i>

                    </div>

                  

                </div>
                <div class="coustomer-qustion-box">
                    <div class="Question">
                        <a href="#">Pulvinar nostrud class cum facilis?</a> <i class="fas fa-caret-right"></i>

                    </div>
                    <div class="Question">
                        <a href="#">Pulvinar nostrud class cum facilis?</a> <i class="fas fa-caret-right"></i>

                    </div>
                    <div class="Question">
                        <a href="#">Pulvinar nostrud class cum facilis?</a> <i class="fas fa-caret-right"></i>

                    </div>
               


                </div>
            </div>

        </div>
    </section>
</main>

