<main>
    <section class="main-inner">
        <section class="main-content container">
            <div class="quick-responce">
                <div class="box" style="width: 30%; height: 100%;">s
                    <div class="box-inner">
                        <div class="footer-logo"></div>
                        <div class="footer-description">
                            <p>Maecenas mi justo, interdum at consectetur vel, tristique et arcu. Ut quis eros blandit, ultrices
                                diam in, elementum ex. Suspendisse quis faucibus urna. Suspendisse pellentesque.</p>
                        </div>
                    </div>
                </div>
                <div class="box" style="width: 32%; height: 100%;">s

                    <div class="box-inner">
                        <h3>Quick Links</h3>
                        <div class=" box2">
                            <a>About</a>
                            <a>Cart</a>
                            <a>Checkout</a>
                            <a>Contact</a>
                            <a> Home</a>
                            <a>My acount</a>
                            <a>Shop</a>
                        </div>
                        <h3>Site Links</h3>
                        <div class=" box2">
                            <a>Privicy policy</a>
                            <a>Shiping Details</a>
                            <a>Offers Coupons</a>
                            <a>Terms & Condition</a>
                        </div>
                    </div>
                </div>
                <div class="box" style="width: 38%; height: 100%;">
                    <div class="box-inner">
                        <h3>Download Our Mobile App</h3>
                        <div style="color: greenyellow;">
                            <p class="app-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
                                aliquam gravida sollicitudin. Praesent porta enim mi, non tincidunt libero interdum sit
                                amet.</p>
                        </div>
                        <h3>Quick Links</h3>
                        <div class="box2">
                            <a style="color: greenyellow;">Know More About Us</a>
                            <a style="color: greenyellow;">Visit Store</a>
                            <a style="color: greenyellow;">Let's Connect</a>
                            <a style="color: greenyellow;">Locate Store</a>
                        </div>
                        <div style="display: flex;">
                            <img src="../../../assets/images/app-store.png" 
                                style="width: 45%; padding-top: 10px;"> &nbsp; &nbsp;
                            <img src="../../../assets/images/play-store.png" 
                                style="width: 45%;  padding-top: 10px">
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <section class=" copyright container">
            <div class="copyright-inner">
                <p>copyright &nbsp;<i class="fa-solid fa-copyright"></i> | Organic Store</p>
                <div class="icon">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-whatsapp"></i>
                </div>
            </div>

        </section>
    </section>
</main>