<div class="contact-box-img">
    <img src="/assets/images/basil-leaf.png" alt="">
</div>
<div class="contact-details">
    <div class="contact-details-box">
        <i class="fa-solid fa-phone"></i>
        <p>7872070356</p>
        <p>7074248193</p>

    </div>
    <div class="contact-details-box">
        <i class="fa-solid fa-envelope"></i>
        <p>ritwick.biswas527@gmail.com</p>
        <p>biswas.ritwick527@gmail.com</p>
    </div>
    <div class="contact-details-box">
        <i class="fa-solid fa-location-dot"></i>
        <p>Kharagpur</p>

    </div>
</div>