<div id="main">
    <section class="about">
        <h1>
            About Us
        </h1>
    </section>
    <section class="about-us">
        <div class="about-img">
            <img src="../../../../assets/images/basil-leaf.png" alt="">
        </div>
        <div class="about-details">
            <div class="a-details">
                <h1>We Are Your Favourite Store.</h1>
                <p>Tuas quisquam quo gravida proident harum, aptent ligula anim consequuntur, ultrices mauris, nunc
                    voluptates lobortis, varius, potenti placeat! Fuga omnis. Cubilia congue. Recusandae. Vero
                    penatibus quasi! Nostra tenetur dignissimos ultrices natus distinctio ultrices consequuntur
                    numqu.</p>

                <p> Officiis fuga harum porro et? Similique rhoncus atque! Netus blanditiis provident nunc posuere.
                    Rem sequi, commodo, lorem tellus elit, hic sem tenetur anim amet quas, malesuada proident platea
                    corrupti expedita.</p>
            </div>
            <div class="a-details-img"></div>

        </div>
    </section>

</div>