<!-- start main 
 sectionn -->
<main>
    <!-- start home display 
     sectionn -->
    <section class="home-display">
        <app-home-display />
    </section>
    <!-- End home display 
     sectionn -->

    <!-- start home-best-selling-produuct 
     sectionn -->
    <section class="home-best-selling-produuct">
        <app-home-best-product />
    </section>
    <!-- end home-best-selling-produuct 
     sectionn -->

    <!-- start product-catagory
     sectionn -->
    <section class="product-catagory">
        <app-product-catagory-sectiion />
    </section>
    <!-- end product-catagory 
     sectionn -->

    <!-- start product-offer 
     sectionn -->
    <section class="product-offer">
        <div class="product-offres">
            <p>Get 25% Off On Your First Purchase!</p>
            <button app-app-button>
                Shop now
                <span class="icon">
                    <i class="fa-solid fa-cart-shopping"></i>
                </span>
            </button>
        </div>
    </section>
    <!-- end product-offer
      sectionn -->

    <!-- start advertise
      sectionn -->
    <section class="advertise">
        <div>
            <p>Try It For Free. No Registration Needed.</p>
        </div>
    </section>
    <!-- end advertise 
     sectionn -->
    <!-- start home-best-selling-produuct
      sectionn -->

    <section class="home-best-selling-produuct">
        <app-home-trand-product />
    </section>
    <!-- end home-best-selling-produuct 
     sectionn -->

    <!-- start coustomer-service 
     sectionn -->
    <section class="coustomer-service">
        <div class="coustomer-service-backimg"></div>
        <div class="coustomer-service-site">
            <p>
                Customers Reviews
            </p>
            <img src="/assets/images/logo-leaf-new.png" alt="">

        </div>
        <div class="coustomer-review">
            <div class="coustomer-review-cart review-cart1  coustomer-review1">

                <div class="coustomer-review-coustomer">
                    <div class="review1">
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                    <div class="review2">
                        <p>Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur
                            adipiscing
                            elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                    </div>
                    <div class="review3">
                        <p> <img src="/assets/images/client01-free-img.png" alt=""> &nbsp;Mila Kunis</p>
                    </div>
                </div>

            </div>
            <div class="coustomer-review-cart review-cart1 coustomer-review2" style="  background-image: url(/assets/images/sydney-rae-668606-unsplash.jpg);background-position: 
           left top; background-size: cover; border-radius: 5px; overflow: hidden; ">
                <div class="coustomer-review-cart2"></div>
                <div class="Deal">
                    <h2>Deal Of The Day 15% Off On All Vegetables!</h2>
                    <p>I am text block. Click edit button to change this tex em ips.</p>
                    <button app-app-button >
                        Shop now
                        <span class="icon">
                            <i class="fa-solid fa-arrow-right"></i>
                        </span>
                    </button>
                </div>


            </div>
            <div class="coustomer-review-cart review-cart1  coustomer-review3">
                <div class="coustomer-review-coustomer">
                    <div class="review1">
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                    <div class="review2">
                        <p>Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur
                            adipiscing
                            elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                    </div>
                    <div class="review3">
                        <p> <img src="/assets/images/client02-free-img.png" alt=""> &nbsp;Mike Sendler
                        </p>
                    </div>
                </div>


            </div>
        </div>
        <div class="sponcer">
            <app-sponcers />
        </div>
    </section>
    <!-- end coustomer-service 
     sectionn -->


</main>
<!-- end main 
 sectionn -->