<section class="get-in-touch">
    <h2>Get In Touch</h2>
</section>
<!-- start contact section -->
<section class="contact">
    <app-contact-box />

</section>
<!-- end contact section -->

<!-- start contact-qustion section -->
<section class="contact-qustion">
    <div class="contact-qustion-box">
        <h2>Frequently Asked Question!</h2>
        <img src="/assets/images/logo-leaf-new.png" alt="">

        <!-- start coustomer-qustion section -->
        <app-contact-question-box />
        <!-- end coustomer-qustion section -->
    </div>
</section>
<!-- end contact-qustion section -->