<div class="product-upper-img container">
    <img src="/assets/images/basil-leaf.png" alt="">
    <div class="catagory-product">
        <div class="catagory-product-cart">
            <div class="catagory-product-cartBackimg"
                style="background-image: url(/assets/images/product11-free-img.jpg);">
                <h2>Farm Fresh Fruits</h2>
                <p>Ut sollicitudin quam vel purus tempus, vel eleifend felis varius.</p>
                <button app-app-button class="product-catagory-btn">
                    Shop now
                    <span class="icon">
                        <i class="fa-solid fa-arrow-right"></i>
                    </span>
                </button>
            </div>

        </div>
        <div class="catagory-product-cart">
            <div class="catagory-product-cartBackimg"
                style="background-image: url(/assets/images/product13-free-img.jpg);">
                <h2>Farm Fresh Fruits</h2>
                <p>Ut sollicitudin quam vel purus tempus, vel eleifend felis varius.</p>
                <button app-app-button class="product-catagory-btn">
                    Shop now
                    <span class="icon">
                        <i class="fa-solid fa-arrow-right"></i>
                    </span>
                </button>
            </div>

        </div>
        <div class="catagory-product-cart">
            <div class="catagory-product-cartBackimg"
                style="background-image: url(/assets/images/product17-free-img.jpg);">
                <h2>Farm Fresh Fruits</h2>
                <p>Ut sollicitudin quam vel purus tempus, vel eleifend felis varius.</p>
                <button app-app-button class="product-catagory-btn">
                    Shop now
                    <span class="icon">
                        <i class="fa-solid fa-arrow-right"></i>
                    </span>
                </button>
            </div>

        </div>
    </div>
</div>