<div class="backimg"></div>
<div class="image">
    <!-- <img [src]="['/assets/images/organic-products-hero.png']" alt=""> -->
</div>
<div class="details">
    <img [src]="['/assets/images/logo-leaf-new.png']" alt="">
    <p class="d1">Best Quality Products</p>
    <p class="d2">Join The Organic</p>
    <p class="d3">Movement!</p>
    <p class="d4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus
        nec ullamcorper mattis,
        pulvinar dapibus leo.</p>
    <button app-app-button>

        Shop now
        <span class="icon">
            <i class="fa-solid fa-cart-shopping"></i>

        </span>
    </button>
</div>