:host {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.backimg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f8f6f3;
    background-image: url(/assets/images/leaves-free-img.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 28% auto;
    opacity: .25;
    mix-blend-mode: multiply;

    transition: background .3s, border-radius .3s, opacity .3s;
}

.image {
    position: absolute;
    left: 10%;
    width: 40%;
    height: 522px;
    /* border: 1px solid black; */
    opacity: 2;
    overflow: hidden;
    top: 8rem;

}

.image>img {
    width: 100%;
    height: 100%;
}

.details {
    position: absolute;
    padding: 0px 0px 0px 80px;
    width: 40%;
    height: 522px;

    /* border: 1px solid black; */
    right: 10%;
    top: 8rem;


}

.details>img {
    position: relative;
    width: 75px;
    height: 33px;
    top: 2rem;
}

.d1 {
    position: relative;
    font-size: 1vw;
    top: 3rem;
    font-weight: bold;

}

.d2 {
    position: relative;
    font-size: 3.2vw;
    font-weight: bold;
    top: 3vw;
}

.d3 {
    position: relative;
    font-size: 3.2vw;
    font-weight: bold;
    top: 1vw;
}

.d4 {
    position: relative;
    font-size: 1.2vw;
    top: 2vw;
}



/* ---------------------------home-orderdetails------------------------------ */

.home-orderdetails {
    position: relative;
    display: inline-block;
    background-color: #000;
    width: 100%;
    height: 210px;
}

#home-orderdetails-main {
    position: relative;

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;


    align-items: center;
    margin-top: 45px;
    margin-bottom: 45px;


}

.order {
    color: #fff;
    width: 285px;
    height: 120px;
    background-color: #424242;
}

.order>p {
    position: relative;
    font-size: 1.5vw;
    font-weight: 600;
    margin: 18px 0px;
    left: 1px;

}

.order>p>i {
    padding: 0px 15px;
}

.order>h4 {
    position: relative;

    font-size: 1.2vw;
    left: 60px;


}

@media (max-width:1024px) {
    .image {
        width: 45%;
        left: 0;
    }

    .details {
        width: 55%;
        right: 0;
    }

    .d2,
    .d3 {
        font-size: 5vw;
        top: 3vw;


    }

    .d1 {
        font-size: 2vw;

    }

    .d4 {
        font-size: 1.6vw;
        top: 3vw;


    }

    .details>img {

        width: 85px;
        height: 43px;
    }

}

@media (max-width:768px) {
    .image {
        width: 50%;
        left: 0;
    }

    .details {
        width: 50%;
        right: 0;
        padding: 0px 0px 0px 15px;

    }

}

/* ------------------max-width 426px------------------------ */
@media (max-width:426px) {
    .details>img {
        width: 67px;
        height: 36px;
    }

    .d1 {
        font-size: 4vw;
    }

    .d2 {
        top: 11vw;
    }

    .d3 {
        top: 10vw;
    }

    .d4 {
        font-size: 2.2vw;
        top: 8vw;
    }

 
}