/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
    
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lobster&family=Protest+Revolution&family=Roboto:wght@100&family=Vina+Sans&display=swap')
