<main>

    <section class="home-display">

        <div id="font">
            <div class="backimg"></div>
            <div class="image"><img src="../../../../assets/images/organic-products-hero.png" alt=""></div>
            <div class="details">
                <img src="/assets/images/logo-leaf-new.png" alt="">
                <p class="d1">Best Quality Products</p>
                <p class="d2">Join The Organic</p>
                <p class="d3">Movement!</p>
                <p class="d4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus
                    nec ullamcorper mattis,
                    pulvinar dapibus leo.</p>
                <button class="btn"><i class="fa-solid fa-cart-shopping"></i>Shop now</button>
            </div>
        </div>
    </section>

    <section class="home-best-selling-produuct">
        <div id="home-best-selling-produuct-main">
            <p>Best Selling Products</p>
            <img src="../../../assets/images/logo-leaf-new.png" alt="">
            <div class="product">
                <div class="cart">
                    <img src="../../../assets/images/coffee-asorted-400x400.jpg" alt="">
                    <p class="Groceries">Groceries</p>
                    <p class="Coffee">
                        Assorted Coffee</p>
                    <p class="star">
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </p>
                    <p class="rupe">$20</p>
                </div>
                <div class="cart">
                    <img src="../../../assets/images/coffee-asorted-400x400.jpg" alt="">
                    <p class="Groceries">Groceries</p>
                    <p class="Coffee">
                        Assorted Coffee</p>
                    <p class="star">
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </p>
                    <p class="rupe">$20</p>
                </div>
                <div class="cart">
                    <img src="../../../assets/images/coffee-asorted-400x400.jpg" alt="">
                    <p class="Groceries">Groceries</p>
                    <p class="Coffee">
                        Assorted Coffee</p>
                    <p class="star">
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </p>
                    <p class="rupe">$20</p>
                </div>
                <div class="cart">
                    <img src="../../../assets/images/coffee-asorted-400x400.jpg" alt="">
                    <p class="Groceries">Groceries</p>
                    <p class="Coffee">
                        Assorted Coffee</p>
                    <p class="star">
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </p>
                    <p class="rupe">$20</p>
                </div>

            </div>
        </div>
    </section>

    <section class="product-catagory">
        <div class="product-upper-img container">
            <img src="../../../assets/images/basil-leaf.png" alt="">
            <div class="catagory-product">
                <div class="catagory-product-cart">
                    <div class="catagory-product-cartBackimg">
                        <h2>Farm Fresh Fruits</h2>
                        <p>Ut sollicitudin quam vel purus tempus, vel eleifend felis varius.</p>
                        <button class="btn product-catagory-btn">
                            Shop now &nbsp;<i class="fa-solid fa-arrow-right"></i>
                        </button>
                    </div>

                </div>
                <div class="catagory-product-cart">
                    <div class="catagory-product-cartBackimg"
                        style="background-image: url(../../../assets/images/product13-free-img.jpg);">
                        <h2>Farm Fresh Fruits</h2>
                        <p>Ut sollicitudin quam vel purus tempus, vel eleifend felis varius.</p>
                        <button class="btn product-catagory-btn">
                            Shop now &nbsp;<i class="fa-solid fa-arrow-right"></i>
                        </button>
                    </div>

                </div>
                <div class="catagory-product-cart">
                    <div class="catagory-product-cartBackimg"
                        style="background-image: url(../../../assets/images/product17-free-img.jpg);">
                        <h2>Farm Fresh Fruits</h2>
                        <p>Ut sollicitudin quam vel purus tempus, vel eleifend felis varius.</p>
                        <button class="btn product-catagory-btn">
                            Shop now &nbsp;<i class="fa-solid fa-arrow-right"></i>
                        </button>
                    </div>

                </div>
            </div>
        </div>


    </section>
    <section class="product-offer">
        <div class="product-offres">
            <p>Get 25% Off On Your First Purchase!</p>
            <button class="btn">
                <i class="fa-solid fa-cart-shopping"></i> Shop now
            </button>
        </div>

    </section>
    <section class="advertise">
        <div>
            <p>Try It For Free. No Registration Needed.</p>
        </div>
    </section>
    <section class="home-best-selling-produuct">
        <div id="home-best-selling-produuct-main">
            <p>Trending Products</p>
            <img src="../../../assets/images/logo-leaf-new.png" alt="">
            <div class="product">
                <div class="cart">
                    <img src="../../../assets/images/red-chillies-400x400.jpg" alt="">
                    <p class="Groceries">Groceries</p>
                    <p class="Coffee">
                        Handpicked Red Chillies</p>
                    <p class="star">
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </p>
                    <p class="rupe">$20</p>
                </div>
                <div class="cart">
                    <img src="../../../assets/images/sanitizer-400x400.jpg" alt="">
                    <p class="Groceries">Groceries</p>
                    <p class="Coffee">
                        Hand Sanitizer</p>
                    <p class="star">
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </p>
                    <p class="rupe">$20</p>
                </div>
                <div class="cart">
                    <img src="../../../assets/images/orage-juice-kariz-400x400.jpg" alt="">
                    <p class="Groceries">Groceries</p>
                    <p class="Coffee">
                        Fresh Orange Juice</p>
                    <p class="star">
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </p>
                    <p class="rupe">$20</p>
                </div>
                <div class="cart">
                    <img src="../../../assets/images/coffee-asorted-400x400.jpg" alt="">
                    <p class="Groceries">Groceries</p>
                    <p class="Coffee">
                        Assorted Coffee</p>
                    <p class="star">
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </p>
                    <p class="rupe">$20</p>
                </div>

            </div>
        </div>
    </section>
    <section class="coustomer-service">
        <div class="coustomer-service-backimg"></div>
        <div class="coustomer-service-site">
            <p>
                Customers Reviews
            </p>
            <img src="/assets/images/logo-leaf-new.png" alt="">

        </div>
        <div class="coustomer-review">
            <div class="coustomer-review-cart review-cart1  coustomer-review1">

                <div class="coustomer-review-coustomer">
                    <div class="review1">
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                    <div class="review2">
                        <p>Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur
                            adipiscing
                            elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                    </div>
                    <div class="review3">
                        <p> <img src="../../../assets/images/client01-free-img.png" alt=""> &nbsp;Mila Kunis</p>
                    </div>
                </div>

            </div>
            <div class="coustomer-review-cart review-cart1 coustomer-review2" style="  background-image: url(../../../assets/images/sydney-rae-668606-unsplash.jpg);background-position: 
           left top; background-size: cover; border-radius: 5px; overflow: hidden; ">
                <div class="coustomer-review-cart2"></div>
                <div class="Deal">
                    <h2>Deal Of The Day 15% Off On All Vegetables!</h2>
                    <p>I am text block. Click edit button to change this tex em ips.</p>
                    <button class="btn"> Shop now &nbsp;<i class="fa-solid fa-arrow-right"></i></button>
                </div>


            </div>
            <div class="coustomer-review-cart review-cart1  coustomer-review3">
                <div class="coustomer-review-coustomer">
                    <div class="review1">
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                    <div class="review2">
                        <p>Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur
                            adipiscing
                            elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                    </div>
                    <div class="review3">
                        <p> <img src="../../../assets/images/client02-free-img.png" alt=""> &nbsp;Mike Sendler
                        </p>
                    </div>
                </div>


            </div>
        </div>
        <div class="sponcer">
            <div class="sponcer-name">
                <p>Featured Brands:</p>
                <img src="https://websitedemos.net/organic-shop-02/wp-content/uploads/sites/465/2021/03/logo-4.svg"
                    alt="">
                <img src="https://websitedemos.net/organic-shop-02/wp-content/uploads/sites/465/2021/03/logo-5.svg"
                    alt="">
                <img src="https://websitedemos.net/organic-shop-02/wp-content/uploads/sites/465/2021/03/logo-2.svg"
                    alt="">
                <img src="https://websitedemos.net/organic-shop-02/wp-content/uploads/sites/465/2021/03/logo-3.svg"
                    alt="">
                <img src="https://websitedemos.net/organic-shop-02/wp-content/uploads/sites/465/2021/03/logo-1.svg"
                    alt="">
            </div>
        </div>

    </section>


</main>