
    <p>Best Selling Products</p>
    <img src="/assets/images/logo-leaf-new.png" alt="">
    <div class="product">
        <div class="cart">
            <img src="/assets/images/coffee-asorted-400x400.jpg" alt="">
            <p class="Groceries">Groceries</p>
            <p class="Coffee">
                Assorted Coffee</p>
            <p class="star">
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </p>
            <p class="rupe">$20</p>
        </div>
        <div class="cart">
            <img src="/assets/images/coffee-asorted-400x400.jpg" alt="">
            <p class="Groceries">Groceries</p>
            <p class="Coffee">
                Assorted Coffee</p>
            <p class="star">
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </p>
            <p class="rupe">$20</p>
        </div>
        <div class="cart">
            <img src="/assets/images/coffee-asorted-400x400.jpg" alt="">
            <p class="Groceries">Groceries</p>
            <p class="Coffee">
                Assorted Coffee</p>
            <p class="star">
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </p>
            <p class="rupe">$20</p>
        </div>
        <div class="cart">
            <img src="/assets/images/coffee-asorted-400x400.jpg" alt="">
            <p class="Groceries">Groceries</p>
            <p class="Coffee">
                Assorted Coffee</p>
            <p class="star">
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </p>
            <p class="rupe">$20</p>
        </div>

    </div>
